{% extends "base.html" %}
{% block title %}Admin: Dashboard{% endblock %}
{% block content %}
    <div class="row">
      {% include "admin_nav_tabs.html" %}
      <!-- Create Button Modals -->
      {% include "create_button.html" %}
      <!-- Search -->
      <!-- Information -->
      <div class="col-lg-9">
        <div class="container">
          {% if db2.Select("v_req_tickets").where(status=1, assigned_id=user['id']) %}
          <div class="row mb-3 ">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin: 0px">
              <strong>Ticket assigned to you!</strong> You have a new ticket assigned to you. Please check the Requests Tab.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          {% endif %}
          <!--filter start-->
          <form class="row mb-3" action="{{ url_for('admin', id='dashboard') }}" method="post">
            <div class="col-md-2 offset-md-9" style="padding:0;">
              <input type="month" class="form-control" value="{{dash.year}}-{% if dash.month|string|length == 1 %}0{{dash.month}}{%else%}{{dash.month}}{%endif%}" name="date" style="background: #ddd;">
            </div>
            <div class="col-1" style="text-align: center;">
              <button onclick="loader()" type="submit" class="btn btn-light"><i class="fa-solid fa-check"></i></button>
            </div>
          </form>
          <!-- Employees count/info -->
          <div class="row mb-3">
            <div class="col-3">
              <div class="col box" style="margin: 0px 0px 10px 0px;">
              <h5><i class="fa-solid fa-users"></i> All employees</h5>
                <h1>
                  {{dash.all_employees_count()}}
                </h1><p>employees until {{dash.month_name}} {{dash.year}}</p>
              </div>
              <div class="col box" style="margin: 10px 0px 0px 0px;">
              <h5><i class="fa-solid fa-user-plus"></i> Hired this month</h5>
                <h1>
                  {{ dash.hired_on_selected_month() }}
                </h1><p>employees hired in {{dash.month_name}} {{dash.year}}</p>
              </div>
            </div>
            <div class="col box">
              <h5>Open Departments</h5>
                <ul class="list-group">
                  {% for department in db2.Select("t_departments").all() %}
                  <li class="list-group-item">{{department[1]}} <p style="margin: 0px; float: right;">{{db2.Select("v_employees").where(department_id=department[0])|length}} <i class="fa-solid fa-users"></i></p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{dash.percent_by_department(department[0])}}" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar" style="width: {{dash.percent_by_department(department[0])}}%"></div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
            </div>
            <div class="col-3 box">
              <h5>
                Average departments
              </h5>
              <hr style="margin: 10px 0px">
              <canvas id="polar-chart" width="100%" height="100%"></canvas>
              <script>
                new Chart(document.getElementById("polar-chart"), {
                    type: 'polarArea',
                    data: {
                      labels: {{dash.departments_list()|safe}},
                      datasets: [
                        {
                          label: "Population (millions)",
                          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                          data: {{dash.percent_by_department_chart()}}
                        }
                      ]
                    },
                    options: {
                      title: {
                        display: false,
                        text: 'Predicted world population (millions) in 2050'
                      },
                      legend: {
                        display: false
                      }
                    }
                });
              </script>
            </div>
          </div>
          <!-- Timesheet info -->
          <div class="row mb-3 box" id="monthProgress">
            <h5 style="padding:0px;" >{{dash.month_name}} status</h5>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{dash.month_in_progres()}}" aria-valuemin="0" aria-valuemax="100" style="padding:0px">
              <div class="progress-bar" style="width: {{dash.month_in_progres()}}%">{{dash.month_in_progres()}}%</div>
            </div>
          </div>
          <div class="row mb-3 box">
            <h5 style="padding: 0px">Timesheet</h5>
            <div class="col box" style="background-color: #ffeb99; margin-left:0px;">
              <h5><i class="fa-solid fa-hourglass-end"></i> Pending requests <strong style="float:right;">{{dash.timesheet_count(1)}}</strong></h5>
            </div>
            <div class="col box" style="background-color: #99ff99;">
              <h5><i class="fa-solid fa-check"></i> Approved requests <strong style="float:right;">{{dash.timesheet_count(2)}}</strong></h5>
            </div>
            <div class="col box" style="background-color: #ff9999; margin-right:0px;">
              <h5><i class="fa-solid fa-x"></i> Rejected requests <strong style="float:right;">{{dash.timesheet_count(3)}}</strong></h5>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col box" style="width: 50%">
              <canvas id="myChart" style="width:100%; max-height: 300px;"></canvas>
              <script type="text/javascript">
                var xValues = {{dash.employee_list()|safe}};
                var yValues = {{dash.timesheet_completed_list()}};
                var barColors = "#58508d";

                new Chart("myChart", {
                  type: "bar",
                  data: {
                    labels: xValues,
                    datasets: [{
                      label: 'Timesheet completed for {{dash.month_name}} {{dash.year}}',
                      backgroundColor: barColors,
                      data: yValues
                    }]
                  },
                  options: {
                    legend: {display: true},
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: true,
                          max: 100
                        }
                      }],
                    }
                  }
                });
            </script>
            </div>
            <div class="col-lg-3 box">
              <h5>Average</h5>
              <hr style="margin: 10px 0px">
              <canvas id="myAverageChart" style="width:100%; height:200px"></canvas>
              <script>
                var xValues = ["Completed", "Not Completed"];
                var yValues = {{dash.average_timesheet()}};
                var barColors = [
                  "green",
                  "#ffeb99",
                  "#2b5797",
                  "#e8c3b9",
                  "#1e7145"
                ];

                new Chart("myAverageChart", {
                  type: "doughnut",
                  data: {
                    labels: xValues,
                    datasets: [{
                      backgroundColor: barColors,
                      data: yValues
                    }]
                  },
                  options: {
                    legend: {display: true},
                  }
                });
                </script>
            </div>
          </div>
          <!-- Time Off information.  -->
          <div class="row mb-3">
            <div class="col-4 box" >
              <h5>New Time off requests</h5>
              {% if db2.Select("v_req_time_off").where(status=1)|length == 0 %}
              <h6 style="padding: 25%;">No new Time Off requests</h6>
              {% else %}
              <ul class="list-group">
                {% for off in db2.Select("v_req_time_off").where(status=1) %}
                  <li class="list-group-item" style="background-color: #ffeb99;">{{off[4]}} create a new {{off[2]}} request</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <div class="col box">
              <h5 class="title">Time off {{dash.month_name}} {{dash.year}}</h5>
              <div class="row week">
                <div class="col">Sun</div>
                <div class="col">Mon</div>
                <div class="col">Thu</div>
                <div class="col">Wen</div>
                <div class="col">Thr</div>
                <div class="col">Fri</div>
                <div class="col">Sat</div>
              </div>
              {% for week in dash.month_selected %}
              <div  style="max-height: 50px;" class="row days">
                {% for day in week %}
                  {% if day == 0 %}
                    <div class="col day" style="background-color:#fff;max-height: 50px;"></div>
                  {% elif day == week[0] or day == week[6] %}
                    <div class="col day" type="button" data-bs-toggle="modal" data-bs-target="#Modal{{day}}" style="color: red;max-height: 50px;">{{ day }}</div>
                  {% else %}
                    <div class="col day" type="button" data-bs-toggle="modal" data-bs-target="#Modal{{day}}" style="max-height: 50px;">{{ day }}
                      <div>
                        <h6 style="font-size:.8rem; text-align: left;">{% if dash.people_off_in_calendar(day) %}People off {% endif %}</h6>
                      </div>
                    </div>
                  {% endif %}
                  <div class="modal fade" id="Modal{{day}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form >
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel" >{{day}}/{{dash.month}}/{{dash.year}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            {% if dash.timeoff_days_list(day) == None %}
                            <h6 style="padding: 10%;">No one off</h6>
                            {% else %}
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Type</th>
                                  <th scope="col">Employee</th>
                                  <th scope="col">Start Date</th>
                                  <th scope="col">End Date</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for x in dash.timeoff_days_list(day) %}
                                <tr>
                                  <td>{{x[2]}}</td>
                                  <td>{{x[4]}}</td>
                                  <td>{{x[5]}}</td>
                                  <td>{{x[6]}}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                            {% endif %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% include "side-admin.html" %}
    </div>
{% endblock %}