{% block content %}
  {% for mesg in get_flashed_messages() %}
    <div class="message">
      <p class="mesg"><i class="fa-solid fa-circle-check"></i> {{ mesg }}</p>
    </div>
  {% endfor %}
  <!-- The sidebar -->
  <div class="sidebar ">
    <div class="logo">
      <h1>Sync.</h1>
      <button type="button" class="btn btn-sm-menu">Menu</button>
    </div>
    <div class="row sidebar-items">
      <div class="col sidebar-col">
        <div class="list-group sidebar-list" id="list-tab" role="tablist">
          <a onclick="loader()" class="list-group-item list-group-item-action {% if active_meniu == 'index' %}active{% endif %}" id="list-home-list" href="{{url_for('index')}}" role="tab"><i class="fa-solid fa-house"></i> Home</a>
          {% if user['admin'] == 1 or user['admin'] == 2 %}
            <a onclick="loader()" href="{{url_for('admin', id='dashboard')}}" class="admin {% if active_meniu == 'admin' %}active{% endif %}"><i class="fa-solid fa-star"></i> Admin</a>
          {% endif %}
          <a class="list-group-item list-group-item-action" data-bs-toggle="modal" role="tab" data-bs-target="#otherRequest"><i class="fa-solid fa-business-time"></i>Time Off</a>
          <div class="request-items">
            <a class="list-group-item list-group-item-action" data-bs-toggle="modal" role="tab" data-bs-target="#pendingLeaveRequest"><i class="fa-solid fa-hourglass-end"></i> Pending
            <span class="badge text-bg-warning" style="float: right;">{{db2.Select("v_req_time_off").where(user_id=user['id'], status=1)|length}}</span></a>
            <a class="list-group-item list-group-item-action" data-bs-toggle="modal" role="tab" data-bs-target="#historyLeaveRequest"><i class="fa-solid fa-clock-rotate-left"></i> History</a>
          </div>
          <a class="list-group-item list-group-item-action" data-bs-toggle="modal" role="tab" data-bs-target="#hrRequest"><i class="fa-sharp fa-solid fa-person"></i> Request</a>
          <div class="request-items">
            <a class="list-group-item list-group-item-action" data-bs-toggle="modal" role="tab" data-bs-target="#pendingRequest"><i class="fa-solid fa-hourglass-end"></i>
              Pending<span
              class="badge text-bg-warning" style="float: right;">{{db2.Select("v_req_tickets").where(user_id=user['id'], status=1)|length}}</span></a>
            <a class="list-group-item list-group-item-action" data-bs-toggle="modal" role="tab" data-bs-target="#doneRequest"><i class="fa-solid fa-check"></i> Done</a>
          </div>
          <a class="list-group-item list-group-item-action" data-bs-toggle="modal" role="tab" data-bs-target="#documentModal"><i class="fa-solid fa-folder"></i> Documents</a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="modal" role="tab" data-bs-target="#newsModal"><i class="fa-solid fa-envelope"></i> Inbox <span
              class="badge text-bg-danger" style="float: right;">{{db2.Select("t_log_requests").where(receiver=user['id'])|length}}</span></a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="modal" role="tab" data-bs-target="#contactModal"><i class="fa-solid fa-address-book"></i> Contact</a>
          <a class="list-group-item list-group-item-action" data-bs-toggle="modal" role="tab" data-bs-target="#settingsModal"><i class="fa-sharp fa-solid fa-gear"></i> Settings</a>
          <a onclick="loader()" class="list-group-item list-group-item-action" href="{{ url_for('logout') }}" role="tab"><i class="fa-solid fa-right-from-bracket"></i> Log Out</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Leave Request MODAL -->
  <form action="{{ url_for('request_type', req_type='timeOff') }}" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="otherRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5"> New Time Off</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="user" class="form-label">Employee</label>
              <select class="form-select" id=user aria-label="Default select example" name="user_id">
                <option selected value="{{user['id']}}">{{user['complete_name']}}</option>
              </select>
            </div>
            <div class="row mb-3">
              <div class="col" style="padding-left: 0;">
                <label for="from" class="form-label">From:</label>
                <input id="from" type="date" class="form-control" placeholder="dd/mm/yyyy" aria-label="First name" name="start_date">
              </div>
              <div class="col" style="padding-right: 0;">
                <label for="to" class="form-label">To:</label>
                <input id="to" type="date" class="form-control" placeholder="dd/mm/yyyy" aria-label="Last name" name="end_date">
              </div>
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Type</label>
              <select class="form-select" aria-label="Default select example" name="type_id">
                <option selected>Choose..</option>
                {% for timeoff in db.select_all("t_time_off_types") %}
                <option value="{{timeoff[0]}}">{{timeoff[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Note:</label>
              <textarea class="form-control" rows="3" name="notes"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary modal-btn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Pending Leave Request MODAL -->
  <form>
    <div class="modal fade" id="pendingLeaveRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Pending Time Off</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% if db2.Select("v_req_time_off").where(user_id=user['id'], status=1)|length == 0 %}
            <h6 style="padding: 30px;">Nothing in pending</h6>
            {% else %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Number of Days</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
              {% for toff in db2.Select("v_req_time_off").where(user_id=user['id'], status=1) %}
                <tr>
                  <th scope="row">{{toff[2]}}</th>
                  <td>{{toff[5]}}</td>
                  <td>{{toff[6]}}</td>
                  <td>{{toff[7]}}</td>
                  <td>{{db2.Select("ct_status").where(id=toff[8])[0][1]}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- History Leave Request MODAL -->
  <form>
    <div class="modal fade" id="historyLeaveRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">History Time Off</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Number of Days</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
              {% for toff in db2.Select("v_req_time_off").where(user_id=user['id'], status="(3, 2)") %}
              {% if toff[8] == 2 %}
                <tr class="table-success">
              {% elif toff[8] == 3 %}
                <tr class="table-danger">
              {% endif %}
                  <th scope="row">{{toff[2]}}</th>
                  <td>{{toff[5]}}</td>
                  <td>{{toff[6]}}</td>
                  <td>{{toff[7]}}</td>
                  <td>{{db2.Select("ct_status").where(id=toff[8])[0][1]}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Request Tickets MODAL -->
  <form action="{{ url_for('request_type', req_type='tickets') }}" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="hrRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">New Request</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="type" class="form-label">Employee</label>
              <select class="form-select" id=type aria-label="Default select example" name="user_id">
                <option selected value="{{user['id']}}">{{user['complete_name']}}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Title</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name="title">
            </div>
            <div class="mb-3">
              <label class="form-label">Note</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="note"></textarea>
            </div>
            <label class="form-label">Assignee to</label>
            <select class="form-select mb-3" aria-label="Default select example" name="assigned" required>
              <option value="{{user['manager_id']}}">{{user['manager_name']}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary modal-btn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Pending Tickets MODAL-->
  <form>
    <div class="modal fade" id="pendingRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Pending Tickets Requests</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% if db2.Select("v_req_tickets").where(user_id=user['id'], status=1)|length == 0 %}
            <h6 style="padding: 30px;">Nothing in pending</h6>
            {% else %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Note</th>
                  <th scope="col">Assigned</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
              {% for toff in db2.Select("v_req_tickets").where(user_id=user['id'], status=1) %}
                <tr>
                  <th scope="row">{{toff[3]}}</th>
                  <td>{{toff[4]}}</td>
                  <td>{{toff[6]}}</td>
                  <td>{{db2.Select("ct_status").where(id=toff[7])[0][1]}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Done Tickets MODAL-->
  <form>
    <div class="modal fade" id="doneRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Done Tickets Requests</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Note</th>
                  <th scope="col">Assigned</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
              {% for toff in db2.Select("v_req_tickets").where(user_id=user['id'], status=2) %}
                <tr>
                  <th scope="row">{{toff[3]}}</th>
                  <td>{{toff[4]}}</td>
                  <td>{{toff[6]}}</td>
                  <td>Done</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Document MODAL -->
  <form action="{{ url_for('upload_file', type='doc') }}" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Documents</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row mb-3">
              {%for fi in db2.Select("t_emp_doc").where(user_id=user['id'])%}
              <div class="col-3 chart" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <i class="fa-regular fa-file-lines" style="font-size: 100px;"></i>
                <div class="col" style="margin-top: 10px;"><a href="{{ url_for('download', name=fi[3]) }}" style="font-size: 90%; text-decoration: none;">{{fi[3]}}</a></div>
              </div>
              {% endfor %}
            </div>
            <div class="mb-3">
              <input class="form-control" type="file" id="formFile" name="file">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Inbox MODAL -->
  <form  action="{{ url_for('requests', class='logReq') }}" method="post">
    <div class="modal fade" id="newsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Inbox</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% if db2.Select("t_log_requests").where(receiver=user['id'])|length == 0 %}
            <h6 style="padding: 30px;">Inbox is empty</h6>
            {% else %}
            <table class="table table-hover">
              <tbody>
               {% for req in db2.Select("t_log_requests").where(receiver=user['id']) %}
               <tr>
                 <td><input class="form-check-input" type="checkbox" name="{{req[0]}}" value="3" id="flexCheckDefault"></td>
                 <td scope="row">{{req[4]}}</td>
                 <td>{{req[3]}}</td>
               </tr>
               {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-danger">Clear selected</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Contact MODAL -->
  <form>
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Contact</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h5 class="mb-3">Your manager</h5>
            <div class="row">
              <div class="col-lg-1" style="padding: inherit">
                <img class="avatar" src="{{url_for('static', filename=db2.Select('t_emp_avatar', row='file_name').where(id=user['manager_id'])[0][0])}}" alt="avatar-img">
              </div>
              <div class="col-lg-11" style="margin:auto; padding: 0px;">
                <h5>{{user['manager_name']}}</h5>
                <p style="margin:0px;"><strong>Email:</strong> {{db2.Select('v_employees').where(id=user['manager_id'])[0][4]}}</p>
                <p><strong>Phone Number:</strong> {{db2.Select('v_employees').where(id=user['manager_id'])[0][5]}}</p>
              </div>
            </div>
            <h5 class="mb-3">HR Team</h5>
            {% for hr in db2.Select("v_employees").where(department_name="Human Resources") %}
            <div class="row">
              <div class="col-lg-1" style="padding: inherit">
                <img class="avatar" src="{{url_for('static', filename=db2.Select('t_emp_avatar', row='file_name').where(id=hr[0])[0][0])}}" alt="avatar-img">
              </div>
              <div class="col-lg-11" style="margin:auto; padding: 0px;">
                <h5>{{hr[3]}}</h5>
                <p style="margin:0px;"><strong>Email:</strong> {{hr[4]}}</p>
                <p><strong>Phone Number:</strong> {{hr[5]}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Settings MODAL -->
  <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Settings</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form action="{{ url_for('upload_file', type='avatar') }}" method="post" enctype="multipart/form-data">
              <div class="row mb-3">
                <div class="col-lg-2" style="padding: inherit">
                  <div class="container text-center" style="padding: 0;">
                      <img id="output" class="image" src="{{url_for('static', filename=avatar[2])}}" alt="avatar-img" style="width: 100%; height: 100%;">
                      <div class="overlay">
                        <label for="file" class="btn btn-outline-secondary btn-sm profile-button">Upload</label>
                        <input onchange="loadFile(event)" role="button" type="file" id="file" class="btn btn-outline-secondary btn-sm profile-button" name="file" hidden>
                        <script>
                          var loadFile = function (event) {
                            var image = document.getElementById("output");
                            image.src = URL.createObjectURL(event.target.files[0]);
                          };
                        </script>
                      </div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <h2 style="text-align:left; margin-left: 20px;">{{user['first'] + ' ' + user['last']}}</h2>
                  <hr>
                  <h4 style="margin-left: 20px;">{{user['role']}}</h4>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-6">
                  <label class="form-label">Phone Number</label>
                  <input type="text" class="form-control" placeholder="Phone number" value="{{user['phone']}}">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12">
                  <label class="form-label">Addresses</label>
                  <input type="text" class="form-control" placeholder="First Addresses" value="{{user['address']}}">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col" >
                  <button class="btn btn-primary" type="submit">Save</button>
                </div>
              </div>
            </form>
            <hr>
            <div class="row mb-3">
              <div class="col">
                <h5>Change Password</h5>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-6">
                <button class="btn btn-primary" data-bs-target="#changePassword" data-bs-toggle="modal">Change Password</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <form>
    <div class="modal fade" id="changePassword" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Change Password</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="mb-3">
                  <label for="oldPassword" class="form-label">Old Password</label>
                  <input type="password" class="form-control" id="oldPassword" required>
                </div>
              </div>
              <div class="row">
                <div class="mb-3">
                  <label for="newPasswrd" class="form-label">New Password</label>
                  <input type="password" class="form-control" id="newPasswrd" required>
                </div>
              </div>
              <div class="row">
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label"> Confirm Password</label>
                  <input type="password" class="form-control" id="confirmPassword" required>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Page content -->
  <div class="content">
    <div class="top" id="index">
      <div class="row">
        <div class="col col-lg-11 col-md-10 col-sm-6">
          <h1>Welcome {{user['first']}}!</h1>
          <p>{{user['role']}}</p>
        </div>
        <div class=" col col-lg-1 col-md-2 col-sm-6 dropdown">
          <div class="container text-center" style="padding: 0;">
            <img class="image" src="{{url_for('static', filename=avatar[2])}}" alt="avatar-img" style="width: 100%; height: 100%;">
          </div>
        </div>
      </div>
    </div>
  {% endblock %}