{% extends "base.html" %}
{% block title %}Profile: {{profile['first'] + ' ' + profile['last']}}{% endblock %}
{% block content %}
<div class="row">
      <div class="col-lg-9">
        <ul class="nav nav-pills mb-3 control-button" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a onclick="loader()" class="nav-link active" aria-current="page" href="{{url_for('admin', id='profiles')}}"><i class="fa-solid fa-chevron-left"></i> Back</a>
          </li>
        </ul>
      </div>
      <!-- Search -->
      <div class="col-lg-3">
        <form class="d-flex search" role="search" action="{{url_for('search')}}" method="get">
          <div class="autocomplete" style="width:300px;">
            <input autocomplete="off" id="myInput" type="search" name="name" placeholder="Search Employees" class="form-control me-2">
          </div>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <!--Profile-->
      <div class="col-lg-9" style="margin-top: 20px;">
        <div class="col">
          <div class="row">
            <div class="row">
              <div class="col-lg-2" style="padding: inherit">
                <img class="avatar" src="{{url_for('static', filename=db2.Select('t_emp_avatar', row='file_name').where(id=profile['id'])[0][0])}}" alt="avatar-img" style="width: 100%;">
              </div>
              <div class="col">
                <h2 style="text-align:left; margin-left: 20px;">{{profile['complete_name']}} - {{ profile['id'] }}</h2>
                <hr>
                <h5 style="margin-left: 20px;">{{profile['role']}}</h5>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 20px; margin: 20px;">
                  <div class="progress-bar bg-success" style="width: {{cal.timesheet_completed(profile['id'])}}%"></div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 20px;">
              <div class="d-flex align-items-start">
                <div class="col-lg-2">
                  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button style="text-align: left;" class="nav-link active" id="v-pills-info-tab" data-bs-toggle="pill" data-bs-target="#v-pills-info" type="button" role="tab" aria-controls="v-pills-info" aria-selected="true"><i class="fa-solid fa-circle-info"></i> User Info</button>
                    <button style="text-align: left;" class="nav-link" id="v-pills-timesheet-tab" data-bs-toggle="pill" data-bs-target="#v-pills-timesheet" type="button" role="tab" aria-controls="v-pills-timesheet" aria-selected="false"><i class="fa-solid fa-calendar-day"></i> Timesheet</button>
                    <button style="text-align: left;" class="nav-link" id="v-pills-time-off-tab" data-bs-toggle="pill" data-bs-target="#v-pills-time-off" type="button" role="tab" aria-controls="v-pills-time-off" aria-selected="false"><i class="fa-solid fa-business-time"></i> Time Off</button>
                    <button style="text-align: left;" class="nav-link" id="v-pills-requests-tab" data-bs-toggle="pill" data-bs-target="#v-pills-requests" type="button" role="tab" aria-controls="v-pills-requests" aria-selected="false"><i class="fa-sharp fa-solid fa-person"></i> Requests</button>
                    <button style="text-align: left;" class="nav-link" id="v-pills-calendar-tab" data-bs-toggle="pill" data-bs-target="#v-pills-calendar" type="button" role="tab" aria-controls="v-pills-calendar" aria-selected="false"><i class="fa-solid fa-calendar-days"></i> Calendar</button>
                    <button style="text-align: left;" class="nav-link" id="v-pills-doc-tab" data-bs-toggle="pill" data-bs-target="#v-pills-doc" type="button" role="tab" aria-controls="v-pills-doc" aria-selected="false"><i class="fa-solid fa-folder"></i> Documents</button>
                  </div>
                </div>
                <div class="col tab-content" style="padding:0px;" id="v-pills-tabContent">
                  <!-- Basic Info -->
                  <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab" tabindex="0">
                    <div class="row">
                      <div class="col">
                        <div class="col box mb-3">
                          <h5><i class="fa-solid fa-address-card"></i> Basic Info</h5>
                          <hr style="margin: 10px 0px">
                          <label class="form-label">First Name</label>
                          <input class="form-control mb-3" type="text" value="{{profile['first']}}">
                          <label class="form-label">Last Name</label>
                          <input class="form-control mb-3" type="text" value="{{profile['last']}}">
                        </div>
                        <div class="col box mb-3">
                          <h5><i class="fa-solid fa-address-book"></i> Contact Info</h5>
                          <hr style="margin: 10px 0px">
                          <label class="form-label">Email</label>
                          <input class="form-control mb-3" type="text" value="{{profile['email']}}">
                          <label class="form-label">Phone Number</label>
                          <input class="form-control mb-3" type="text" value="{{profile['phone']}}">
                          <label class="form-label">Address</label>
                          <input class="form-control mb-3" type="text" value="{{profile['address']}}">
                        </div>
                      </div>
                      <div class="col box mb-3">
                        <h5><i class="fa-solid fa-briefcase"></i> Job Details</h5>
                        <hr style="margin: 10px 0px">
                        <label class="form-label">Department</label>
                        <input class="form-control mb-3" type="text" value="{{profile['department']}}">
                        <label class="form-label">Role</label>
                        <input class="form-control mb-3" type="text" value="{{profile['role']}}">
                        <label class="form-label">Hire Date</label>
                        <input class="form-control mb-3" type="text" value="{{profile['hire']}}">
                      </div>
                    </div>
                  </div>
                  <!-- Timesheet -->
                  <div class="tab-pane fade" id="v-pills-timesheet" role="tabpanel" aria-labelledby="v-pills-timesheet-tab" tabindex="0">
                    <div class="accordion" id="accordionTimeSheetRequests">
                      {% for status in db2.Select("ct_status").all() %}
                      {% if status[0] != 6 and status[0] != 5 %}
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{status[1]}}Requests" aria-expanded="true" aria-controls="collapse{{status[1]}}Requests">
                            {{status[1]}}
                          </button>
                        </h2>
                        <div id="collapse{{status[1]}}Requests" class="accordion-collapse collapse {% if status[0] == 1 %}show{% endif %}" data-bs-parent="#accordionTimeSheetRequests">
                          <div class="accordion-body">
                            <form  action="{{ url_for('requests', class='timesheet') }}" method="post">
                              <input class="form-control" id="my{{status[1]}}Input" type="text" placeholder="Search.." style="width: 25%;">
                              <table id="my{{status[1]}}-table" class="table table-hover align-middle" style="margin-top: 20px;">
                                <thead>
                                <tr>
                                  <th scope="col"></th>
                                  <th scope="col">Employee</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Create date</th>
                                  <th scope="col">Project</th>
                                  <th scope="col">
                                    <div class="btn-group">
                                      <button class="btn btn-primary btn-sm" type="submit">
                                        Send form
                                      </button>
                                    </div>
                                  </th>
                                </tr>
                                </thead>
                                <tbody class="tbody" id="my{{status[1]}}Table">
                                {% for timesheet in db2.Select("v_req_timesheet").where(status=status[0], user_id=profile['id']) %}
                                  {% if timesheet[8] == user['id']%}
                                    <tr>
                                      <td scope="col" style="width: 5%">
                                        <img class="avatar wh-50" src="{{url_for('static', filename=db2.Select('t_emp_avatar', row='file_name').where(id=timesheet[1])[0][0])}}" alt="avatar-img">
                                      </td>
                                      <td scope="col" style="width: 25%;">{{timesheet[2]}} - {{timesheet[1]}}</td>
                                      <td scope="col">{{timesheet[4]}}</td>
                                      <td scope="col">{{timesheet[5]}}</td>
                                      <td scope="col">{{timesheet[7]}}</td>
                                      {% if status[0] == 1 %}
                                      <td scope="col">
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timesheet[0]}}" id="flexRadio{{timesheet[0]}}approve" value="2">
                                          <label class="form-check-label" for="flexRadio{{timesheet[0]}}approve">
                                            Approve
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timesheet[0]}}" id="flexRadio{{timesheet[0]}}reject" value="3">
                                          <label class="form-check-label" for="flexRadio{{timesheet[0]}}reject">
                                            Reject
                                          </label>
                                        </div>
                                      </td>
                                      {% elif status[0] == 2 %}
                                      <td scope="col">
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timesheet[0]}}" id="flexRadio{{timesheet[0]}}pending" value="1">
                                          <label class="form-check-label" for="flexRadio{{timesheet[0]}}approve">
                                            Pending
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timesheet[0]}}" id="flexRadio{{timesheet[0]}}reject" value="3">
                                          <label class="form-check-label" for="flexRadio{{timesheet[0]}}reject">
                                            Reject
                                          </label>
                                        </div>
                                      </td>
                                      {% else %}
                                      <td scope="col">
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timesheet[0]}}" id="flexRadio{{timesheet[0]}}approve" value="2">
                                          <label class="form-check-label" for="flexRadio{{timesheet[0]}}approve">
                                            Approve
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timesheet[0]}}" id="flexRadio{{timesheet[0]}}pending" value="1">
                                          <label class="form-check-label" for="flexRadio{{timesheet[0]}}reject">
                                            Pending
                                          </label>
                                        </div>
                                      </td>
                                      {% endif %}
                                    </tr>
                                  {% endif %}
                                {% endfor %}
                                </tbody>
                              </table>
                              <nav aria-label="Page navigation example">
                                <ol class="pagination justify-content-end" id="{{status[1]}}numbers"></ol>
                              </nav>
                              <script>
                                $(function() {
                                  const rowsPerPage = 10;
                                  const rows = $('#my{{status[1]}}-table tbody tr');
                                  const rowsCount = rows.length;
                                  const pageCount = Math.ceil(rowsCount / rowsPerPage); // avoid decimals
                                  const numbers = $('#{{status[1]}}numbers');

                                  // Generate the pagination.
                                  for (var i = 0; i < pageCount; i++) {
                                      numbers.append('<li class="page-item"><a class="page-link" href="#">' + (i+1) + '</a></li>');
                                  }

                                  // Mark the first page link as active.
                                  $('#{{status[1]}}numbers li:first-child a').addClass('active');

                                  // Display the first set of rows.
                                  displayRows(1);

                                  // On pagination click.
                                  $('#{{status[1]}}numbers li a').click(function(e) {
                                      var $this = $(this);

                                      e.preventDefault();

                                      // Remove the active class from the links.
                                      $('#{{status[1]}}numbers li a').removeClass('active');

                                      // Add the active class to the current link.
                                      $this.addClass('active');

                                      // Show the rows corresponding to the clicked page ID.
                                      displayRows($this.text());
                                  });

                                  // Function that displays rows for a specific page.
                                  function displayRows(index) {
                                      var start = (index - 1) * rowsPerPage;
                                      var end = start + rowsPerPage;

                                      // Hide all rows.
                                      rows.hide();

                                      // Show the proper rows for this page.
                                      rows.slice(start, end).show();
                                  }
                              });
                              </script>
                              <script>
                                $(document).ready(function(){
                                  $("#my{{status[1]}}Input").on("keyup", function() {
                                    var value = $(this).val().toLowerCase();
                                    $("#my{{status[1]}}Table tr").filter(function() {
                                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                  });
                                });
                              </script>
                            </form>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  <!-- Time Off -->
                  <div class="tab-pane fade" id="v-pills-time-off" role="tabpanel" aria-labelledby="v-pills-time-off-tab" tabindex="0">
                    <div class="col" style="margin-right: 0;">
                      <div id="carouselExampleControls" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                        <div class="carousel-inner" style="width: 80%; left:9.5%;">
                          <div class="carousel-item active">
                            <div class="row" >
                              <div class="col chart" style="margin-right: 0;">
                                <h5 style="mb-3">Annual Leaves</h5>
                                <hr>
                                <h1>{{db2.Select("t_emp_time_off").where(id=profile['id'])[0][2]}}</h1>
                                <h6>Available</h6>
                                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#ANModal">Allocate</button>
                              </div>
                              <div class="modal fade" id="ANModal" tabindex="-1" aria-labelledby="ANModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <form action="{{ url_for('edit', item_type='empTimeOff') }}" method="post">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="ANModalLabel">Annual Leaves</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="row" >
                                          <div class="col-6">
                                            <label for="ANcurrentValue" class="form-label">Current Value</label>
                                            <input class="form-control" id="ANcurrentValue" value="{{db2.Select('t_emp_time_off').where(id=profile['id'])[0][2]}}" readonly>
                                          </div>
                                          <div class="col-6">
                                            <label for="ANnewValue" class="form-label">New Value</label>
                                            <input class="form-control" id="ANnewValue" name="AN">
                                          </div>
                                          <input name="id", value="{{profile['id']}}" hidden >
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                              <div class="col chart" style="margin-right: 0;">
                                <h5 style="mb-3">Birthday Leaves</h5>
                                <hr>
                                <h1>{{db2.Select("t_emp_time_off").where(id=profile['id'])[0][3]}}</h1>
                                <h6>Available</h6>
                                <button type="button" class="btn btn-outline-dark btn-sm"data-bs-toggle="modal" data-bs-target="#BDModal">Allocate</button>
                              </div>
                              <div class="modal fade" id="BDModal" tabindex="-1" aria-labelledby="BDModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <form action="{{ url_for('edit', item_type='empTimeOff') }}" method="post">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="BDModalLabel">Birthday Leaves</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <input name="id", value="{{profile['id']}}" hidden>
                                        <div class="row" >
                                          <div class="col-6">
                                            <label for="BDcurrentValue" class="form-label">Current Value</label>
                                          <input class="form-control" id="BDcurrentValue" value="{{db2.Select('t_emp_time_off').where(id=profile['id'])[0][3]}}" readonly>
                                          </div>
                                          <div class="col-6">
                                            <label for="BDnewValue" class="form-label">New Value</label>
                                            <input class="form-control" id="BDnewValue" name="BD">
                                          </div>
                                          <input name="id", value="{{profile['id']}}" hidden >
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                              <div class="col chart" style="margin-right: 0;">
                                <h5 style="mb-3">Special Events</h5>
                                <hr>
                                <h1>{{db2.Select("t_emp_time_off").where(id=profile['id'])[0][6]}}</h1>
                                <h6>Available</h6>
                                <button type="button" class="btn btn-outline-dark btn-sm"data-bs-toggle="modal" data-bs-target="#SPModal">Allocate</button>
                              </div>
                              <div class="modal fade" id="SPModal" tabindex="-1" aria-labelledby="SPModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <form action="{{ url_for('edit', item_type='empTimeOff') }}" method="post">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="SPModalLabel">Special Events</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <input name="id", value="{{profile['id']}}" hidden>
                                        <div class="row" >
                                          <div class="col-6">
                                            <label for="SPcurrentValue" class="form-label">Current Value</label>
                                            <input class="form-control" id="SPcurrentValue" value="{{db2.Select('t_emp_time_off').where(id=profile['id'])[0][6]}}" readonly>
                                          </div>
                                          <div class="col-6">
                                            <label for="SPnewValue" class="form-label">New Value</label>
                                            <input class="form-control" id="SPnewValue" name="SP">
                                          </div>
                                          <input name="id", value="{{profile['id']}}" hidden >
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="row">
                              <div class="col chart" style="margin-right: 0;">
                              <h5 style="mb-3">Medical Leaves</h5>
                              <hr>
                              <h1>0</h1>
                              <h6>Taken</h6>
                              <button type="button" class="btn btn-outline-dark btn-sm">View</button>
                            </div>
                            <div class="col chart" style="margin-right: 0;">
                              <h5 style="mb-3">Parental Leaves</h5>
                              <hr>
                              <h1>0</h1>
                              <h6>Taken</h6>
                              <button type="button" class="btn btn-outline-dark btn-sm">View</button>
                            </div>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                    <div class="accordion" id="accordionTimeOffRequests">
                      {% for status in db2.Select("ct_status").all() %}
                      {% if status[0] != 6 and status[0] != 5 %}
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{status[1]}}OffRequests" aria-expanded="true" aria-controls="collapse{{status[1]}}OffRequests">
                            {{status[1]}}
                          </button>
                        </h2>
                        <div id="collapse{{status[1]}}OffRequests" class="accordion-collapse collapse {% if status[0] == 1 %}show{% endif %}" data-bs-parent="#accordionTimeOffRequests">
                          <div class="accordion-body">
                            <form  action="{{ url_for('requests', class='timeOff') }}" method="post">
                              <input class="form-control" id="my{{status[1]}}ToffInput" type="text" placeholder="Search.." style="width: 25%;">
                              <table id="my{{status[1]}}tOff-table" class="table table-hover" style="margin-top: 20px;">
                                <thead>
                                <tr>
                                  <th scope="col"></th>
                                  <th scope="col">Employee</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Start Date</th>
                                  <th scope="col">End Date</th>
                                  <th scope="col">No. Days</th>
                                  <th scope="col">Note</th>
                                  <th scope="col">
                                    <div class="btn-group">
                                      <button class="btn btn-primary btn-sm" type="submit">
                                        Send form
                                      </button>
                                    </div>
                                  </th>
                                </tr>
                                </thead>
                                <tbody class="tbody" id="my{{status[1]}}ToffTable">
                                {% for timeoff in db2.Select("v_req_time_off").where(status=status[0], user_id=profile['id']) %}
                                  {% if timeoff[10] == user['id'] %}
                                    <tr>
                                      <td scope="col" style="width: 5%">
                                        <img class="avatar" src="{{url_for('static', filename=db2.Select('t_emp_avatar', row='file_name').where(id=timeoff[3])[0][0])}}" alt="avatar-img" style="width:100%">
                                      </td>
                                      <td scope="col">{{timeoff[4]}} - {{timeoff[3]}} </td>
                                      <td scope="col">{{timeoff[2]}}</td>
                                      <td scope="col">{{timeoff[5]}}</td>
                                      <td scope="col">{{timeoff[6]}}</td>
                                      <td scope="col">{{timeoff[7]}}</td>
                                      <td scope="col">{{timeoff[9]}}</td>
                                      {% if status[0] == 1 %}
                                      <td scope="col">
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timeoff[0]}}" id="flexRadio{{timeoff[0]}}approve" value="2">
                                          <label class="form-check-label" for="flexRadio{{timeoff[0]}}approve">
                                            Approve
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timeoff[0]}}" id="flexRadio{{timeoff[0]}}reject" value="3">
                                          <label class="form-check-label" for="flexRadio{{timeoff[0]}}reject">
                                            Reject
                                          </label>
                                        </div>
                                      </td>
                                      {% elif status[0] == 2 %}
                                      <td scope="col">
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timeoff[0]}}" id="flexRadio{{timeoff[0]}}pending" value="1">
                                          <label class="form-check-label" for="flexRadio{{timeoff[0]}}approve">
                                            Pending
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timeoff[0]}}" id="flexRadio{{timeoff[0]}}reject" value="3">
                                          <label class="form-check-label" for="flexRadio{{timeoff[0]}}reject">
                                            Reject
                                          </label>
                                        </div>
                                      </td>
                                      {% else %}
                                      <td scope="col">
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timeoff[0]}}" id="flexRadio{{timeoff[0]}}approve" value="2">
                                          <label class="form-check-label" for="flexRadio{{timeoff[0]}}approve">
                                            Approve
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{timeoff[0]}}" id="flexRadio{{timeoff[0]}}pending" value="1">
                                          <label class="form-check-label" for="flexRadio{{timeoff[0]}}reject">
                                            Pending
                                          </label>
                                        </div>
                                      </td>
                                      {% endif %}
                                    </tr>
                                  {% endif %}
                                {% endfor %}
                                </tbody>
                              </table>
                              <nav aria-label="Page navigation example">
                                <ol class="pagination justify-content-end" id="{{status[1]}}tOffnumbers"></ol>
                              </nav>
                              <script>
                                $(function() {
                                  const rowsPerPage = 10;
                                  const rows = $('#my{{status[1]}}tOff-table tbody tr');
                                  const rowsCount = rows.length;
                                  const pageCount = Math.ceil(rowsCount / rowsPerPage); // avoid decimals
                                  const numbers = $('#{{status[1]}}tOffnumbers');

                                  // Generate the pagination.
                                  for (var i = 0; i < pageCount; i++) {
                                      numbers.append('<li class="page-item"><a class="page-link" href="#">' + (i+1) + '</a></li>');
                                  }

                                  // Mark the first page link as active.
                                  $('#{{status[1]}}tOffnumbers li:first-child a').addClass('active');

                                  // Display the first set of rows.
                                  displayRows(1);

                                  // On pagination click.
                                  $('#{{status[1]}}tOffnumbers li a').click(function(e) {
                                      var $this = $(this);

                                      e.preventDefault();

                                      // Remove the active class from the links.
                                      $('#{{status[1]}}tOffnumbers li a').removeClass('active');

                                      // Add the active class to the current link.
                                      $this.addClass('active');

                                      // Show the rows corresponding to the clicked page ID.
                                      displayRows($this.text());
                                  });

                                  // Function that displays rows for a specific page.
                                  function displayRows(index) {
                                      var start = (index - 1) * rowsPerPage;
                                      var end = start + rowsPerPage;

                                      // Hide all rows.
                                      rows.hide();

                                      // Show the proper rows for this page.
                                      rows.slice(start, end).show();
                                  }
                              });
                              </script>
                              <script>
                                $(document).ready(function(){
                                  $("#my{{status[1]}}ToffInput").on("keyup", function() {
                                    var value = $(this).val().toLowerCase();
                                    $("#my{{status[1]}}ToffTable tr").filter(function() {
                                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                  });
                                });
                              </script>
                            </form>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  <!-- Requests -->
                  <div class="tab-pane fade" id="v-pills-requests" role="tabpanel" aria-labelledby="v-pills-requests-tab" tabindex="0">
                    <div class="accordion" id="accordionHrRequest">
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHrRequestPending" aria-expanded="true" aria-controls="collapseHrRequestPending">
                            Pending
                          </button>
                        </h2>
                        <div id="collapseHrRequestPending" class="accordion-collapse collapse show" data-bs-parent="#accordionHrRequest">
                          <div class="accordion-body">
                            <form  action="{{ url_for('requests', class='tickets') }}" method="post">
                              <table class="table table-hover" style="margin-top: 20px;">
                                <thead>
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Employee</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Description</th>
                                  <th scope="col">
                                    <div class="btn-group">
                                      <button class="btn btn-primary btn-sm" type="submit">
                                        Send form
                                      </button>
                                    </div>
                                  </th>
                                </tr>
                                </thead>
                                <tbody class="tbody">
                                {% for rq in db.select_all("v_req_tickets") %}
                                  {% if rq[7] == 1 and rq[5] == user['id'] and rq[1] == profile['id']%}
                                    <tr>
                                      <td scope="col">{{rq[0]}}</td>
                                      <td scope="col">{{rq[2]}}</td>
                                      <td scope="col">{{rq[3]}}</td>
                                      <td scope="col">{{rq[4]}}</td>
                                      <td scope="col">
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{rq[0]}}" id="flexRadio{{rq[0]}}approve" value="2">
                                          <label class="form-check-label" for="flexRadio{{rq[0]}}approve">
                                            Done
                                          </label>
                                        </div>
                                      </td>
                                    </tr>
                                  {% endif %}
                                {% endfor %}
                                </tbody>
                              </table>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHrRequestResolved" aria-expanded="false" aria-controls="collapseHrRequestResolved">
                            Done
                          </button>
                        </h2>
                        <div id="collapseHrRequestResolved" class="accordion-collapse collapse" data-bs-parent="#accordionHrRequest">
                          <div class="accordion-body">
                            <form  action="{{ url_for('requests', class='tickets') }}" method="post">
                              <table class="table table-hover" style="margin-top: 20px;">
                                <thead>
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Employee</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Description</th>
                                  <th scope="col">
                                    <div class="btn-group">
                                      <button class="btn btn-primary btn-sm" type="submit">
                                        Send form
                                      </button>
                                    </div>
                                  </th>
                                </tr>
                                </thead>
                                <tbody class="tbody">
                                {% for rq in db.select_all("v_req_tickets") %}
                                  {% if rq[7] == 2 and rq[5] == user['id'] and rq[1] == profile['id']%}
                                    <tr>
                                      <td scope="col">{{rq[0]}}</td>
                                      <td scope="col">{{rq[2]}}</td>
                                      <td scope="col">{{rq[3]}}</td>
                                      <td scope="col">{{rq[4]}}</td>
                                      <td scope="col">
                                        <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{rq[0]}}" id="flexRadio{{rq[0]}}approve" value="3">
                                          <label class="form-check-label" for="flexRadio{{rq[0]}}approve">
                                            Delete
                                          </label>
                                        </div>
                                      </td>
                                    </tr>
                                  {% endif %}
                                {% endfor %}
                                </tbody>
                              </table>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Calendar -->
                  <div class="tab-pane fade" id="v-pills-calendar" role="tabpanel" aria-labelledby="v-pills-calendar-tab" tabindex="0">
                    <div class="col box">
                      <h5 class="title">{{cal.month_name}} {{cal.year}}</h5>
                      <div class="row week">
                        <div class="col">Sun</div>
                        <div class="col">Mon</div>
                        <div class="col">Thu</div>
                        <div class="col">Wen</div>
                        <div class="col">Thr</div>
                        <div class="col">Fri</div>
                        <div class="col">Sat</div>
                      </div>
                      {% for week in cal.current_month %}
                      <div class="row days" style="max-height: 70px;">
                        {% for day in week %}
                          {% if day == 0 %}
                            <div class="col day" style="background-color:#dddddd; max-height: 70px;"></div>
                          {% elif day == week[0] or day == week[6] %}
                            <div class="col day" type="button" data-bs-toggle="modal" data-bs-target="#Modal{{day}}"  style="{{ cal.day_check(day, profile['id']) }}; color: red; max-height: 70px;">{{ day }}</div>
                          {% else %}
                        <div class="col day" type="button" data-bs-toggle="modal" data-bs-target="#Modal{{day}}"  style="{{ cal.day_check(day, profile['id'])}}; max-height: 70px;{%if cal.timeoff_days(profile['id'], day)%} background: #cdcdcd;{% endif %}">{{ day }} {%if cal.timeoff_days(profile['id'], day)%}<h4 class="off" style="top: -10%"><i class="fa-solid fa-business-time"></i></h4>{% endif %}</div>
                          {% endif %}
                          <div class="modal fade" id="Modal{{day}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <form action="{{ url_for('request_type', req_type='timesheet') }}" method="post">
                              <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel" >{{cal.date_format("yyyy-mm")}}-{{day}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="col-lg-4 date-col">
                                        <label class="form-label">Employee</label>
                                        <select class="form-select" aria-label="Default select example" name="user_id">
                                          <option selected value="{{profile['id']}}">{{profile['complete_name']}}</option>
                                        </select>
                                        <label class="form-label">Date</label>
                                        <select class="form-select" aria-label="Default select example" name="date">
                                          <option selected>{{cal.date_format("yyyy-mm")}}-{% if day|string|length == 1 %}0{{day}}{% else %}{{day}}{% endif %}</option>
                                        </select>
                                        <label class="form-label">Role</label>
                                        <select class="form-select" aria-label="Default select example" name="role_id">
                                          <option selected value="{{user['role_id']}}">{{user['role']}}</option>
                                        </select>
                                        <label class="form-label">Department</label>
                                        <select class="form-select"aria-label="Default select example" name="department_id">
                                          <option selected value="{{user['department_id']}}">{{user['department']}}</option>
                                        </select>
                                        <label class="form-label">Project</label>
                                        <select class="form-select" aria-label="Default select example" name="project_id" required>
                                          <option selected disabled value="">Select..</option>
                                          {% for project in db.select_all(table="t_projects") %}
                                            <option value="{{project[0]}}">{{project[2]}}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                      <div class="col-lg-8">
                                        {% if db2.Select("t_dep_tasklist_link").where(department_id=user['department_id'])|length == 0 %}
                                        <h6 style="padding: 25%;">No Task List assigned</h6>
                                        {% else %}
                                        <div class="accordion" id="accordionExample">
                                          {% for accordion in db2.Select("t_dep_tasklist_link").where(department_id=user['department_id']) %}
                                            <div class="accordion-item">
                                              <h2 class="accordion-header h2-accordion" id="headingTwo">
                                                {% if db2.Select("t_tasks_list").all()|length == 0 %}
                                                <h6 style="padding: 10px;">No tasks list assigned</h6>
                                                {% else %}
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{accordion[0]}}" aria-expanded="true" aria-controls="collapseTwo">
                                                  {{ db2.Select("t_tasks_list").where(id=accordion[2])[0][1] }}
                                                </button>
                                                {% endif %}
                                              </h2>
                                              <div id="{{accordion[0]}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                  <ul class="list-group">
                                                    {% for item in db2.Select("t_tasks").where(task_list_id=accordion[2]) %}
                                                    <li class="list-group-item">
                                                      <input class="form-check-input me-1" type="checkbox" value="1" name="{{item[0]}}" id="firstCheckbox"
                                                             {%if db2.checked(day, user['id'], item[0]) %} checked {%endif%}>
                                                      <label class="form-check-label" for="firstCheckbox" name="">{{item[1]}}</label>
                                                    </li>
                                                    {% endfor %}
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          {% endfor %}
                                        </div>
                                        {% endif %}
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary modal-btn">Save Changes</button>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        {% endfor %}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <!-- Documents -->
                  <div class="tab-pane fade" id="v-pills-doc" role="tabpanel" aria-labelledby="v-pills-doc-tab" tabindex="0">
                    <div class="row mb-3">
                      <!-- Your files -->
                      {%for fi in db2.Select("t_emp_doc").where(user_id=profile['id'])%}
                      <div class="col-3 box" style="text-align: center;">
                        <div class="row"><button type="button" class="btn-close" aria-label="Close" style="margin: 0 0 0 85%;" data-bs-toggle="modal" data-bs-target="#{{fi[0]}}Modal"></button></div>
                        <i class="fa-regular fa-file-lines" style="font-size: 100px;"></i>
                        <div class="col overflow-text" style="margin-top: 10px;"><a href="{{ url_for('download', name=fi[3]) }}" style="font-size: 90%; text-decoration: none;">{{fi[3]}}</a></div>
                      </div>
                      <div class="modal fade" id="{{fi[0]}}Modal" tabindex="-1" aria-labelledby="{{fi[0]}}ModalModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="{{fi[0]}}ModalModalLabel">Delete file {{fi[3]}}</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <h6>Are you sure you want to delete this file?</h6>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <a type="button" href="{{ url_for('delete', id=fi[0], item_type='doc') }}" class="btn btn-danger">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <div class="col-4">
                        <div class="col box mb-3" style="text-align: center;">
                          <i class="fa-solid fa-plus"></i><input id="upload-file" type="file" style="display: none;"/> <a id="fileUpload" href="#" style="text-decoration: none; color: black;"><strong>Add new file</strong></a>
                        </div>
                        <div class="col box mb-3" style="text-align: center;">
                          <i class="fa-solid fa-folder-plus"></i> <a href="#" style="text-decoration: none; color: black;"><strong>Create new folder</strong></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% include "side-admin.html" %}
  </div>
{% endblock %}