{% extends "base.html" %}
{% block title %}Admin: Profiles{% endblock %}
{% block content %}
    <div class="row">
      {% include "admin_nav_tabs.html" %}
      {% include "create_button.html" %}
      <!-- Search -->
      <div class="col-lg-3">
        <form class="d-flex search" role="search" action="" method="post">
          <input class="form-control me-2" id="browser" type="search" name="browser" placeholder="Search" list="browserdata" aria-label="Search" autocomplete="off">
          <button class="btn btn-outline-success" type="submit">Search</button>
          <datalist id="browserdata">
            {% for emp in db.select_all("v_employees") %}
              <option value="{{emp[0]}}">{{ emp[3] }}</option>
            {% endfor %}
          </datalist>
        </form>
      </div>
      <!-- Information -->
      <div class="col-lg-9">
        <div class="col" style="margin:20px;">
          <div class="row row-cols-1 row-cols-md-5 g-4">
                {% for employee in db.select_all("v_employees") %}
                  <div class="col">
                    <div class="container text-center" style="padding: 0;">
                      <img class="image" src="{{url_for('static', filename=db2.Select('t_emp_avatar', row='file_name').where(id=employee[0])[0][0])}}" alt="avatar-img" style="width: 100%;">
                      <div class="overlay">
                        <h5 class="profile-name">{{employee[1]}} {{employee[2]}}</h5>
                        <a onclick="loader()" role="button" href="{{url_for('profile', id=employee[0])}}" class="btn btn-outline-secondary btn-sm profile-button">View</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
        </div>
      </div>
      {% include "side-admin.html" %}
    </div>
{% endblock %}