{% block side_content %}
<div class="col-lg-3">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><strong>Activity</strong></button>
            </li>
          </ul>
          <div class="tab-content notification-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
              <div class="list-group">
                {% if db2.Select('t_log_requests').count() == 0 %}
                <h6 style="padding: 50px;">No new notification</h6>
                {% else %}
                {% for notification in db2.Select("t_log_requests", order=True, asc=False, limit="4").where(receiver="Admins") %}
                <a href="{{url_for('admin', id='requests')}}" class="list-group-item list-group-item-action" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{db2.Select("v_employees", row="complete_name").where(id=notification[1])[0][0]}}</h5>
                    <small>{{notification[3]}}</small>
                  </div>
                  <p class="mb-1">{{notification[4]}}</p>
<!--                  <small>And some small print.</small>-->
                </a>
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col control-list">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><strong>Curent month</strong></button>
              </li>
            </ul>
            <div class="tab-content notification-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div class="list-group">
                  {% for employee in db.select_all("v_employees") %}
                    <a href="{{url_for('profile', id=employee[0])}}" class="list-group-item list-group-item-action" aria-current="true">
                      <div class="row">
                        <div class="col-lg-3" style="padding: inherit">
                          <img class="avatar" src="{{url_for('static', filename=db2.Select('t_emp_avatar', row='file_name').where(id=employee[0])[0][0])}}" alt="avatar-img">
                        </div>
                        <div class="col-lg-9">
                          <h5>{{employee[1] + ' ' + employee[2]}}</h5>
                          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{cal.timesheet_completed(employee[0])}}" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                            <div class="progress-bar bg-success" style="width: {{cal.timesheet_completed(employee[0])}}%"></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}