{% extends "base.html" %}
{% block title %}Admin: Tasks{% endblock %}
{% block content %}
    <div class="row">
      {% include "admin_nav_tabs.html" %}
      {% include "create_button.html" %}
      <!-- Information -->
      <div class="col-lg-9">
        <div class="col" style="margin:20px;">
          {% if db2.Select("t_tasks_list").all()|length == 0 %}
          <h6 style="padding: 25%;">Create a new task list <br><button type="button" style="margin-top:10px;" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#tasksListModal">Create Task List</button></h6>
          {% else %}
          <div class="accordion" id="accordionTasks">
            {% for list in db.select_all("t_tasks_list") %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{list[1]}}Task">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{list[0]}}Task" aria-expanded="true" aria-controls="collapse{{list[0]}}Task">
                    {{list[1]}} Tasks
                  </button>
                </h2>
                <div id="collapse{{list[0]}}Task" class="accordion-collapse collapse show" aria-labelledby="heading{{list[1]}}Task" data-bs-parent="#accordionTasks">
                  <div class="accordion-body">
                    <button type="button" class="btn btn-primary btn-sm"data-bs-toggle="modal" data-bs-target="#{{list[0]}}Task">Add new task</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete{{list[0]}}TaskListModal" style="float: right;">Delete</button>
                    <!--Delete Task List Modal-->
                    <div class="modal fade" id="delete{{list[0]}}TaskListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete List</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <h5 style="text-align: center;color: red;">Are you sure that you want to delete it?</h5>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a type="button" href="{{ url_for('delete', id=list[0], item_type='tasksList') }}" class="btn btn-danger">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--  ADD NEW TASK MODAL -->
                    <div class="modal fade" id="{{list[0]}}Task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <form  action="{{ url_for('create', item_type='tasks') }}" method="post">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">{{list[1]}}: New Task</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="row g-3">
                                <div class="col-3">
                                  <input type="text" class="form-control" placeholder="ID" aria-label="ID" name="id"  value="{{db.select('cv_table_id', 'id', 'TSK-')[0][3]}}">
                                </div>
                                <div class="col-9">
                                  <input type="text" class="form-control" placeholder="Task Name" aria-label="Task" name="name">
                                </div>
                                <div class="row g-3">
                                  <div class="col" style="padding: 0;">
                                    <select class="form-select" aria-label="Default select example" name="task_list_id">
                                      <option selected value="{{list[0]}}">{{list[1]}}</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <table class="table table-hover" style="margin-top: 20px;">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Task name</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for task in  db2.Select("t_tasks").where(task_list_id=list[0])%}
                          <tr>
                            <th scope="row"  style="width: 10%;">{{task[0]}}</th>
                            <td>{{task[1]}}</td>
                            <td  style="width: 10%;">
                              <div class="btn-group">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Action
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit{{task[0]}}Task">Edit</a></li>
                                  <li>
                                    <hr class="dropdown-divider">
                                  </li>
                                  <li><a class="dropdown-item" href="{{ url_for('delete', id=task[0], item_type='tasks' ) }}" style="color: red;">Delete</a></li>
                                </ul>
                                <!-- Edit Task -->
                                <div class="modal fade" id="edit{{task[0]}}Task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered">
                                    <form  action="{{ url_for('edit', item_type='tasks') }}" method="post">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit: {{task[1]}}</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="row g-3">
                                            <div class="col-3">
                                              <label class="form-label">Task ID</label>
                                              <input type="text" class="form-control" placeholder="ID" aria-label="ID" name="id" value="{{task[0]}}" readonly>
                                            </div>
                                            <div class="col-9">
                                              <label class="form-label">Task Name</label>
                                              <input type="text" class="form-control" placeholder="Task Name" aria-label="Task" name="name" value="{{task[1]}}">
                                            </div>
                                            <div class="row g-3">
                                              <div class="col" style="padding: 0;">
                                                <label class="form-label">Task List Name</label>
                                                <select class="form-select" aria-label="Default select example" name="task_list_id">
                                                  <option selected value="">{{db2.Select("t_tasks_list").where(id=task[2])[0][1]}}</option>
                                                  {% for other in db2.Select('t_tasks_List').all() %}
                                                    {% if other[0] != list[0] %}
                                                      <option value="{{other[0]}}">{{other[1]}}</option>
                                                    {% endif %}
                                                  {% endfor %}
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% include "side-admin.html" %}
    </div>
{% endblock %}